Old/Node-red/test_interface_node-red.json
[{"id":"67f95dec.7bd0bc","type":"tab","label":"DC Motor MQTT","disabled":false,"info":"","env":[]},{"id":"948b5359.98f41","type":"trigger","z":"67f95dec.7bd0bc","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"overrideDelay":true,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":680,"y":280,"wires":[["5402159c.48e044"]]},{"id":"ff1515cd.e29a6","type":"ui_slider","z":"67f95dec.7bd0bc","name":"","label":"Speed %","tooltip":"","group":"9b6002c4.d0815","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"0","max":"100","step":"1","className":"","x":240,"y":380,"wires":[["948b5359.98f41","5d4190c9.e65e8","52d4f377e1615196"]]},{"id":"ea1f8a24.b0074","type":"ui_text","z":"67f95dec.7bd0bc","group":"9b6002c4.d0815","order":2,"width":0,"height":0,"name":"","label":"State:","format":"{{msg.myday}} {{msg.mytime}}:{{msg.mysecond}} {{msg.payload}}","layout":"col-center","x":650,"y":60,"wires":[]},{"id":"95a97592.d05c48","type":"mqtt in","z":"67f95dec.7bd0bc","name":"","topic":"rwth/cr/esp/PPl/DCcontrol/Validate","qos":"2","datatype":"auto","broker":"a4727c85.70f87","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":60,"wires":[["2faef169.b00436"]]},{"id":"5402159c.48e044","type":"ui_chart","z":"67f95dec.7bd0bc","name":"","group":"9b6002c4.d0815","order":3,"width":0,"height":0,"label":"Speed Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":240,"wires":[[]]},{"id":"f5619d9e.c0f25","type":"ui_gauge","z":"67f95dec.7bd0bc","name":"","group":"9b6002c4.d0815","order":8,"width":7,"height":2,"gtype":"gage","title":"Current Speed","label":"~ at 9V","format":"RPM","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1000,"y":380,"wires":[]},{"id":"5d4190c9.e65e8","type":"range","z":"67f95dec.7bd0bc","minin":"0","maxin":"100","minout":"0","maxout":"300","action":"scale","round":false,"property":"payload","name":"","x":650,"y":380,"wires":[["f5619d9e.c0f25"]]},{"id":"57be8a9a.d18504","type":"ui_button","z":"67f95dec.7bd0bc","name":"","group":"9b6002c4.d0815","order":7,"width":0,"height":0,"passthru":false,"label":"RESET ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":125,"y":241,"wires":[["5402159c.48e044","37a8fe03.f77b8a","ff1515cd.e29a6","f7469162.71261","8fba76e152ff0881"]]},{"id":"37a8fe03.f77b8a","type":"function","z":"67f95dec.7bd0bc","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["948b5359.98f41"]]},{"id":"2faef169.b00436","type":"simpletime","z":"67f95dec.7bd0bc","name":"","mydate":false,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":true,"myhourpm":false,"myhour":false,"mytime":true,"mytimes":false,"myminute":false,"myminutes":false,"mysecond":true,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":470,"y":60,"wires":[["ea1f8a24.b0074"]]},{"id":"f7469162.71261","type":"ui_chart","z":"67f95dec.7bd0bc","name":"","group":"9b6002c4.d0815","order":9,"width":0,"height":0,"label":"Sensor 1","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":940,"y":980,"wires":[[]]},{"id":"c53e7b6b.903dc8","type":"mqtt in","z":"67f95dec.7bd0bc","name":"","topic":"rwth/cr/PP/CCR/Sensor1","qos":"2","datatype":"auto","broker":"a4727c85.70f87","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":980,"wires":[["edea2acb.ff6c88"]]},{"id":"edea2acb.ff6c88","type":"function","z":"67f95dec.7bd0bc","name":"","func":"msg.topic = msg.payload.split(\":\")[1]\nmsg.payload = msg.payload.split(\":\")[2]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":981,"wires":[["f7469162.71261"]]},{"id":"33e2e41f9d507808","type":"mqtt in","z":"67f95dec.7bd0bc","name":"","topic":"rwth/cr/PP/CCR/Sensor0","qos":"2","datatype":"auto","broker":"a4727c85.70f87","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":840,"wires":[["f7d173e2831ba2b0","8fba76e152ff0881"]]},{"id":"f7d173e2831ba2b0","type":"ui_text","z":"67f95dec.7bd0bc","group":"9b6002c4.d0815","order":5,"width":7,"height":1,"name":"","label":"Distance in mm:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":960,"y":840,"wires":[]},{"id":"8fba76e152ff0881","type":"ui_chart","z":"67f95dec.7bd0bc","d":true,"name":"","group":"9b6002c4.d0815","order":4,"width":0,"height":0,"label":"Detected distance map","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":980,"y":680,"wires":[[]]},{"id":"74de4f9c35f7620f","type":"mqtt out","z":"67f95dec.7bd0bc","name":"","topic":"rwth/cr/PP/DCcontrol","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a4727c85.70f87","x":980,"y":500,"wires":[]},{"id":"7c2c296ee0484bd3","type":"trigger","z":"67f95dec.7bd0bc","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-130","extend":false,"overrideDelay":true,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":660,"y":500,"wires":[["74de4f9c35f7620f"]]},{"id":"4aa7996dc1434c36","type":"ui_dropdown","z":"67f95dec.7bd0bc","name":"","label":"Transmission Frequency","tooltip":"","place":"Select option","group":"9b6002c4.d0815","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 Hz","value":1000,"type":"num"},{"label":"5 Hz","value":200,"type":"num"},{"label":"10 Hz","value":100,"type":"num"},{"label":"30 Hz","value":"33","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":110,"y":660,"wires":[["3de1ae187bd3f793"]]},{"id":"3de1ae187bd3f793","type":"change","z":"67f95dec.7bd0bc","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"delay","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":660,"wires":[["ff1515cd.e29a6"]]},{"id":"52d4f377e1615196","type":"change","z":"67f95dec.7bd0bc","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"delay","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":500,"wires":[["7c2c296ee0484bd3"]]},{"id":"9b6002c4.d0815","type":"ui_group","name":"DC Motor Control","tab":"8db01e7d.8112b","order":1,"disp":true,"width":7,"collapse":false},{"id":"a4727c85.70f87","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8db01e7d.8112b","type":"ui_tab","name":"DC Motor Control","icon":"dashboard","disabled":false,"hidden":false}]
